@model IEnumerable<TravelRevewSite.Models.Review>

@{
    ViewBag.Title = "Travel Reviews";
}

<h2>@ViewBag.Title</h2>

<p id="submitReview">
    @Html.ActionLink("Submit Your Review", "Create")
</p>
<div class="row">
    @*
            @Html.DisplayNameFor(model => model.Location.LocationName)
        
            @Html.DisplayNameFor(model => model.Name)
        
            @Html.DisplayNameFor(model => model.TripDate)
        
            @Html.DisplayNameFor(model => model.Email)
        
            @Html.DisplayNameFor(model => model.UserReview)
      *@  

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                   <h3>@Html.DisplayFor(modelItem => item.Location.LocationName)</h3>
                   <p>@Html.DisplayFor(modelItem => item.Name)</p>
                   <p>@Html.DisplayFor(modelItem => item.TripDate)</p>
                   <p>@Html.DisplayFor(modelItem => item.Email)</p>
                   <p>@Html.DisplayFor(modelItem => item.UserReview)</p>
                   <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>
                    </div>
               </div>
         </div>
    }

</div>


<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>
