@model IEnumerable<TravelRevewSite.Models.Review>

@{
    ViewBag.Title = "Travel Reviews";
}
@* The syntax to add an image however the path is not correct to get to get them*@
@{WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost) {

        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}

<h2>@ViewBag.Title</h2>

<p id="submitReview">
    @Html.ActionLink("Submit Your Review", "Create")
</p>
<div class="row">
    @*
            @Html.DisplayNameFor(model => model.Location.LocationName)
        
            @Html.DisplayNameFor(model => model.Name)
        
            @Html.DisplayNameFor(model => model.TripDate)
        
            @Html.DisplayNameFor(model => model.Email)
        
            @Html.DisplayNameFor(model => model.UserReview)
      *@  

    @*Each review will display in its own box*@
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                   <h3>@Html.DisplayFor(modelItem => item.Location.LocationName)</h3>
                   <p>@Html.DisplayFor(modelItem => item.Name)</p>
                   <p>@Html.DisplayFor(modelItem => item.TripDate)</p>
                   <p>@Html.DisplayFor(modelItem => item.Email)</p>
                   <p>@Html.DisplayFor(modelItem => item.UserReview)</p>
                   <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>
                 </div>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Upload Image</legend>
                        <label for="Image">Image</label>
                        <input type="file" name="Image" />
                        <br/>
                        <input type="submit" value="Upload" />
                    </fieldset>
                 </form>
            
                @if(imagePath != "")
                {
                    <div class="result">
                        <img src="@imagePath" alt="image" />
                    </div>
                }
            </div> 
              </div>
         </div>
    }

</div>


<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>
